section.cooperation.text-lightgray
    .container
        .row.justify-content-center
            .col-12
                .title-block
                    .title-after.text-center-md.text-black.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="150") сотрудничество
                    .row.justify-content-center
                        .col-xl-8
                            h2.title.text-gradient.text-semi.text-center-md.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="100") Успешное сотрудничество — это всегда взаимная выгода
            .col-md-6.col-xl-5.offset-xl-1.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="75")
                .cooperation-clmn
                    h3.text-rg Что приобретаем мы:
                    .cooperation-clmn-el.js-set-height-4.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="75")
                        .cooperation-clmn-icon
                            i.fal.fa-thumbs-up
                        .cooperation-clmn-txt
                            p Мы получаем партнера, заинтересованного в заработке, сфмореализации, обучении и развитии

                    .cooperation-clmn-el.js-set-height-5.wow.fadeInUp(data-wow-delay="0.9s" data-wow-offset="75")
                        .cooperation-clmn-icon
                            i.fal.fa-thumbs-up
                        .cooperation-clmn-txt
                            p Мы получаем надежного приверженца продукта, вместе с которым сможем реализовать миссию компании — популяризовать казахстанскую органическую продукцию во всем мире!
            .col-md-6.col-xl-5.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="75")
                .cooperation-clmn
                    h3.text-rg.text-gradient Что приобретаете Вы:
                    .cooperation-clmn-el.js-set-height-4.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="75")
                        .cooperation-clmn-icon
                            i.fal.fa-thumbs-up.text-gradient
                        .cooperation-clmn-txt
                            p Вы присоеденяетесь к команде, которая заинтересована в том. чтобы Вы зарабатывали. Именно поэтому мы предоставляем качественную поддержку

                    .cooperation-clmn-el.js-set-height-5.wow.fadeInUp(data-wow-delay="0.9s" data-wow-offset="75")
                        .cooperation-clmn-icon
                            i.fal.fa-thumbs-up.text-gradient
                        .cooperation-clmn-txt
                            p Вы получаете уникальную органическую продукцию компании, разработанную с соблюдением ЭКО-стандартов для Вашего здоровья и красоты
            .col-auto.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="75")
                a.btn(href="") Стать партнером