section.command
    .container
        .row
            .col-12
                .title-block
                    .title-after.text-center-md.text-black.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="150") Присоеденяйтесь
                    .row.justify-content-center
                        .col-xl-8
                            h2.title.text-gradient.text-center-md.wow.fadeInUp(data-wow-delay="0.3s") Будем рады видеть Вас в нашей многонациональной команде!
            .col-xl-7.col-xxl-8
                .command-box
                    h3.title.text-lightgray.wow.fadeInLeft(data-wow-offset="100") Почему с нами хотят сотрудничать?
                    .row
                        .col-md-6
                            .command-el.js-set-height-1.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="75")
                                .command-el-numb 01
                                .command-el-content
                                    h4.text-gradient Простой старт с 3 уровнями дохода
                                    p Начните свой бизнес уже сегодня
                            .command-el.js-set-height-2.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="100")
                                .command-el-numb 02
                                .command-el-content
                                    h4.text-gradient 8 видов бонусов в проекте
                                    p Вы сами определяете уровень участия в проекте, и соответственно, уровень доходности
                            .command-el.js-set-height-3.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="125")
                                .command-el-numb 03
                                .command-el-content
                                    h4.text-gradient Автобонус
                                    p Компания предоставляет возможность заработать автомобиль!
                        .col-md-6
                            .command-el.js-set-height-1.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="75")
                                .command-el-numb 04
                                .command-el-content
                                    h4.text-gradient Доступ к линейке продуктов
                                    p по выгодным ценам
                            .command-el.js-set-height-2.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="100")
                                .command-el-numb 05
                                .command-el-content
                                    h4.text-gradient Щедрый план вознаграждения
                                    p с максимальым уровнем отчисления в маркетинг. На нем невозможно не заработать!
                            .command-el.js-set-height-3.wow.fadeInUp(data-wow-delay="0.9s" data-wow-offset="125")
                                .command-el-numb 06
                                .command-el-content
                                    h4.text-gradient Команда единомышленников
                                    p А также регулярные семинары и онлайн-встречи

                           

            .col-md-8.offset-md-2.col-xl-5.offset-xl-0.col-xxl
                .command-form-box.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="250")
                    .command-form-wrap
                        form
                            h3.title.text-gradient Хочу присоедениться!
                            p.title-sub.text-def Заполните данные для прохождения регистрации в проект
                            .form-group
                                .input-group
                                    input(type="text" placeholder="Ваше имя")
                                    span.input-group-icon
                                        i.fal.fa-user-alt.text-gradient
                                    span.input-group-validate nice
                                .input-group
                                    input(type="text" placeholder="Номер телефона")
                                    span.input-group-icon
                                        i.fas.fa-mobile-alt.text-gradient
                                    span.input-group-validate bad
                                .input-group
                                    input(type="text" placeholder="E-mail")
                                    span.input-group-icon
                                        i.far.fa-envelope.text-gradient
                                    span.input-group-validate so bad
                            input.btn(type="submit" value="Стать партнером")