section.mission
    .mission-bg#particles-mission
    .container
        .mission-wrap
            .row
                .col-12
                    .title-block
                        .title-after.text-center-md.text-black.js-parallax.wow.fadeInUp(data-wow-delay="0.6s" data-wow-offset="150") Наша Миссия
                        .row.justify-content-center
                            .col-xl-8
                                h2.title.text-gradient.text-center-md.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="100") Миссия кoмпании
                .col-12
                    .mission-box
                        span.mission-md-bg
                            span.mission-md-bg-wrap.wow.fadeInUp(data-wow-delay="0.3s" data-wow-offset="75")
                                .mission-planet.wow.rotation2(data-wow-offset="100" data-wow-delay="0.4")
                                    img(src="img/planet-md.png", alt="planet")
                                .mission-grid.wow.rotation(data-wow-offset="100" data-wow-delay="0.4")
                                    img(src="img/planet-md-grid.png", alt="planet")
                        .mission-el.wow.fadeInUp(data-wow-offset="100" data-wow-delay="0.4")
                            .mission-el-box
                                .mission-el-wrap
                                    .mission-el-square-box
                                      .mission-el-square.wow.zoomInUp(data-wow-offset="120" data-wow-delay="0.4")
                                    .mission-el-line.mission-el-line-one.wow.line-one(data-wow-offset="100")
                            h3.text-gradient Красота повсюду
                            p.text-def Сделать мир красивее и здоровее благодоря органической продукции, которая блогатворно влияет на ораганизм и не вредит не человеку не окружающей среде
                        .mission-el.wow.fadeInUp(data-wow-offset="200" data-wow-delay="0.4")
                            .mission-el-box.mission-el-box-left
                                .mission-el-wrap
                                    .mission-el-square-box
                                      .mission-el-square.wow.zoomInUp(data-wow-offset="150" data-wow-delay="0.4")
                                    .mission-el-line.mission-el-line-two.wow.line-two(data-wow-offset="150")
                            h3.text-gradient Мировой рынок
                            p.text-def Достойно представить продукцию Казахстана на мировом рынке как конкурентоспособную, инновационную, натуральную и высококачественную 
                        .mission-el.wow.fadeInUp(data-wow-offset="100" data-wow-delay="0.4")
                            .mission-el-box.mission-el-box-bottom
                                .mission-el-wrap
                                    .mission-el-square-box
                                      .mission-el-square.wow.zoomInUp(data-wow-offset="100" data-wow-delay="0.4")
                                    .mission-el-line.mission-el-line-three.wow.line-three(data-wow-offset="150")
                            h3.text-gradient Индивидуальный подход
                            p.text-def Построить глобальную сеть бизнеса нового уровня мышления, в основе которого лежит индивидуальный подход к каждому партнеру