footer.footer.foo
    .container
        .foo-wrapper
            .row.align-items-center.align-items-lg-start 
                .col-6.col-lg-2.col-xxl-2
                    .foo-logo
                        a.logo(href="")
                            img(src="img/Logo.png", alt="logo")
                        p.copy © Все права защищены.
                .col-6.col-lg-3.col-xxl-2
                    .social.foo-social
                        h5.title.text-gradient Мы в соц. сетях
                        ul.social-list
                            li
                                a(href="")
                                    i.fab.fa-facebook-f
                            li
                                a(href="")
                                    i.fab.fa-instagram
                            li
                                a(href="")
                                    i.fab.fa-vk
                .col-12.col-lg-2.col-xxl-2
                    .foo-menu
                        h5.text-gradient Меню
                        ul.foo-menu-list
                            li
                                a.active(href="") Главная
                            li
                                a(href="") Новости
                            li
                                a(href="") Поддержка
                            li
                                a(href="") Магазин
                            li
                                a(href="") Кабинет
                .col-12.col-lg-5.col-xxl-6
                    .foo-news
                        .row
                            .col-12
                                 h5.title.text-gradient Последние новости
                                 .row
                                    .col-12.col-md-6.col-lg-12.col-xxl-6
                                        .foo-news-el
                                            .foo-news-img
                                                img(src="img/foo-news-one.jpg", alt="news")
                                            .foo-news-txt
                                                p Учавствуй в предстарте проекта и выиграй поездку в Анталию! Акция до 17 мая 2019 года.
                                                a(href="") Подробнее
                                    .col-12.col-md-6.col-lg-12.col-xxl-6
                                        .foo-news-el
                                            .foo-news-img
                                                img(src="img/foo-news-two.jpg", alt="news")
                                            .foo-news-txt
                                                p Учавствуй в предстарте проекта и выиграй поездку в Анталию! Акция до 17 мая 2019 года.
                                                a(href="") Подробнее


