header.header
    .header-wrapper
        .header-box
            .header-left-side
                a.logo(href="")
                    img(src="img/Logo.png", alt="logo")
                ul.header-language
                    li
                        a(href="") KZ
                    li
                        a.active(href="") RU

            nav.nav
                ul.nav-list
                    li
                        a.active(href="") Главная
                    li
                        a(href="") Новости
                    li
                        a(href="") Магазин
                    li
                        a(href="") Маркетинг-план
                    li
                        a(href="") Поддержка
                    li
                        a(href="") Кабинет
                .social.social-header
                    h5.text-gradient Мы в соц. сетях
                    ul.social-list
                        li
                            a(href="")
                                i.fab.fa-facebook-f
                        li
                            a(href="")
                                i.fab.fa-instagram
                        li
                            a(href="")
                                i.fab.fa-vk

            .header-right-side
                a.header-cash(href="")
                    i.fal.fa-shopping-bag
                    p 222 990 
                        span UV
                .hamburger.hamburger--spin.js-hamburger.js-hamburger
                    .hamburger-box
                        .hamburger-inner
        .header-aside.js-set-height-6
            ul.header-language
                li
                    a(href="") KZ
                li
                    a.active(href="") RU
            ul.social-list
                li
                    a(href="")
                        i.fab.fa-facebook-f
                li
                    a(href="")
                        i.fab.fa-instagram
                li
                    a(href="")
                        i.fab.fa-vk



